extends layout/layout

block htmlTitle
  title Skeleton Landing Page
block importtop
  link(href="css/main.css" rel="stylesheet" type="text/css")


block importbottom
  script(src="js/vendor/vendor_all.js")
  script(src='js/app.js')

block content
  h1 Init Proyect 1.0
